/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp TAB>;
        };

        combo_eql {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&caps_ht CAPS 0>;
        };

        combo_min {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp MINUS>;
        };
    
        combo_und {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp UNDER>;
        };

        combo_bslh {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp BSLH>;
        };

        combo_sqt {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp SQT>;
        };

        combo_sqt_v {
            timeout-ms = <50>;
            key-positions = <15 25>;
            bindings = <&kp SQT>;
        };

        combo_grv {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp GRAVE>;
        };

        combo_tilde {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TILDE>;
        };

        combo_caps_word {
            timeout-ms = <50>;
            key-positions = <13 16>;
            bindings = <&kp TILDE>;
        };
    };
};
